[Desktop Entry]
Name=Walker
Comment=Walker Service
Exec=env GSK_RENDERER=cairo walker --gapplication-service
StartupNotify=false
Terminal=false
Type=Application
