[Unit]
Description=Hibernate after delayed wake from suspend
After=suspend.target
After=systemd-suspend.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c '\
  if [ -f /tmp/rtc-do-hibernate ]; then \
    rm -f /tmp/rtc-do-hibernate; \
    logger -t delayed-hibernate "service: hibernating now"; \
    systemctl hibernate; \
  fi'

[Install]
WantedBy=suspend.target
