@import url("style.css");

@define-color background #2c2525;
@define-color foreground #e6d9db;

@define-color black #72696a;
@define-color red #fd6883;
@define-color green #adda78;
@define-color yellow #f9cc6c;
@define-color blue #f38d70;
@define-color magenta #a8a9eb;
@define-color cyan #85dacc;
@define-color white #e6d9db;
@define-color bright_black #948a8b;
@define-color bright_red #ff8297;
@define-color bright_green #c8e292;
@define-color bright_yellow #fcd675;
@define-color bright_blue #f8a788;
@define-color bright_magenta #bebffd;
@define-color bright_cyan #9bf1e1;
@define-color bright_white #f1e5e7;
