* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: CaskaydiaMono Nerd Font;
  font-size: 12px;
}

#workspaces {
  margin-left: 7px;
}

#workspaces button {
  all: initial;
  padding: 2px 6px;
  margin-right: 3px;
}

#custom-dropbox,
#cpu,
#power-profiles-daemon,
#battery,
#network,
#bluetooth,
#pulseaudio,
#clock {
  min-width: 12px;
  margin-right: 13px;
}

tooltip {
  padding: 2px;
}

tooltip label {
  padding: 2px;
}

#custom-recorder {
  background-color: #ff0000;
  color: #ffffff;
  padding: 0 10px;
  margin: 0 5px;
  border-radius: 5px;
  font-weight: bold;
  /* Optional: Blinking Animation */
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #bf0000;
  }
}

@import "../omarchy/current/theme/waybar.css";
