<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Omarchy</vendor>
  <vendor_url>https://omarchy.org/</vendor_url>
  <action id="org.omarchy.app-launch-responsive.set">
    <description>Change the responsive app-launch preference</description>
    <message>Authentication is required to change the responsive app-launch preference</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/omarchy-app-launch-responsive-control</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">set</annotate>
  </action>
</policyconfig>
