#!/bin/bash

# This hook is called with the snake-cased name of the powerprofile that has just been set.
# To put it into use, remove .sample from the name.

# Example: Show the name of the powerprofile that was just set.
# notify-send "New powerprofile" "Your new powerprofile is $1"
