@import "../omarchy/current/theme/colors.css";

window {
  border-radius: 0;
  opacity: 0.97;
  border: 2px solid @foreground;

  background-color: @background;
}

label {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 11pt;

  color: @foreground;
}

image {
  color: @foreground;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @accent;
}

@import "../omarchy/current/theme/swayosd.css";
