@import url("file://~/.config/omarchy/current/theme/walker.css");

scrollbar,
.box-wrapper,
.preview-box,
.box,
.search-container,
.input,
.input,
.content-container,
.placeholder,
.scroll,
.list,
child,
.item-box,
.item-text-box,
.item-text,
.item-subtext,
.current,
.keybind-hints,
.preview {
  all: unset;
}

* {
  font-family: monospace;
  font-size: 18px;
  color: @text;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
  background: alpha(@base, 0.95);
  padding: 20px;
  border: 2px solid @border;
  border-radius: 0px;
}

.preview-box {
}

.box {
}

.search-container {
  background: @base;
  padding: 10px;
}

.input placeholder {
  opacity: 0.5;
}

.input {
}

.input:focus,
.input:active {
  box-shadow: none;
  outline: none;
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
}

child,
child > * {
  padding: 0px 12px;
}

child:hover .item-box {
}

child:selected .item-box {
}

child:selected .item-box * {
  color: @selected-text;
}

.item-box {
}

.item-text-box {
  all: unset;
  padding: 14px 0;
}

.item-text {
}

.item-subtext {
  font-size: 0px;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
}

.item-image {
  margin-right: 10px;
  -gtk-icon-transform: scale(0.7);
}

.item-box.calc .item-image {
  -gtk-icon-source: url("file:///home/ryan/Downloads/gitlab.svg");
}

.current {
  font-style: italic;
  background: alpha(@border, 0.2);
  border-left: 3px solid @border;
  padding-left: 7px;
}

.keybind-hints {
  background: @background;
  padding: 10px;
  margin-top: 10px;
}

.preview {
  background: @background;
}
