[Desktop Entry]
Name=Vim
Exec=xdg-terminal-exec --app-id=org.omarchy.vim -e vim %F
TryExec=vim
Type=Application
Terminal=false
NoDisplay=true
Categories=Utility;TextEditor;Development;
MimeType=text/plain;text/english;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;application/xml;text/xml;
